*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #eef5e9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #b2dabf;
}

.logo h1 {
    font-size: 20px;
    color: #5dbb63;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.cart img {
    width: 30px;
    height: 30px;
}

.hero{
    font-weight: bold;
    margin-top: 35px;
    font-size: 56px;
    align-items: center;
    text-align: center;
}

.menu{
    font-weight: bold;
    margin-top: 56px;
    align-items: center;
    text-align: center; 
    color: black;
}